/* It is used for making the div center */ 
/* div is the block that contains lots of elements */ 
.center{
    text-align: center;
}

/* It is used for arranging the color of header */ 
.colorOfhead{
    color: purple;
}

/* It is used for arranging the position of marks in main page */ 
.position{
    list-style-position: inside;
}
/* It is used for arranging the color of about us page headers */ 
.header2{
    color: goldenrod;
}
/* It is used for arranging the lengths of the pictures */ 
.imageLength{
    width: 200px; 
    height: 200px;

}

.row{
    margin-left: 20px;
}

/* It is used for nav-items */ 
.nav-item{
    padding-left: 15px;
    padding-top: 5px;
}

/* It is used for writings in the about-us page */ 
.headers{
   padding-right: 15px;
    padding-left: 20px;
}

/* It is used for card elements in product.hmtl */ 
.card{
    padding-left: 70px;
    padding-top: 30px;
    border: 2px solid black;
    margin: 20px;
    height: 400px;
    width: 400px;
}

/* It is used for arranging the position of information of product(name,price,button) */ 
.card-body{
    padding-top: 30px;
    padding-left: 40px;
}